@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h1 class="text-white bg-dark text-center p-2">Roles</h1>

<p>
    <a asp-action="AddRole" class="btn btn-outline-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRole", new {  id=item.Id }) |
                @Html.ActionLink("Details", "DetailRole", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteRole", new {id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
