@model IEnumerable<Post>
@using System.Security.Claims;
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}


<div class="PostContainer">
    <div class="profile-header">
        <!--User Image-->
        <div class="bg-dark p-3 mb-3"><img src="~/images/@ViewBag.User.Picture" class="profile-picture rounded-circle" id="photo" /></div>
        <!--Show Image-->
        <div id="photoModal" class="modal text-xl-center" style="margin:auto;">
            <img src="" alt="Photo" id="bigPhoto" style="margin:auto;" />
        </div>

        <!--Information-->
        <div class="profile-name">@ViewBag.User.UserName</div>
        <div class="profile-info">@ViewBag.User.Summary</div>
        <hr />



        <!--Profile Buttons-->
        <div class="profile-actions" id="accordion2">

            <!-- Friendship button-->
            @{
                if (ViewBag.Found == "Friend")
                {
                    <button data-bs-toggle="modal" data-bs-target="#modalFriend" class="profile-button">Friend</button>
                    <!-- Friend PopUp-->
                    <div class="modal fade" id="modalFriend">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Options</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <ul class="list-unstyled text-center ">
                                        @{
                                            <li><a asp-action="RemoveFriend" asp-controller="Friend" asp-route-userId="@ViewBag.User.Id">Cancel Friend</a></li>
                                            <li><a asp-action="#" asp-route-id="#">Cancel Follw</a></li>
                                            if (ViewBag.BlockedByUser == true)
                                            {
                                                <li><button data-userid="@ViewBag.User.Id" class="user-unblock-button">Cancel Block</button></li>
                                            }else
                                            {
                                                <li><button data-userid="@ViewBag.User.Id" class="user-block-button">Block</button></li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                }
                if (ViewBag.Found == "MyRequest")
                {
                    <button type="button" data-userid="@ViewBag.User.Id" class="unfriend-button">Cancel Request</button>

                }
                if (ViewBag.Found == "HisRequest")
                {
                    <button data-bs-toggle="collapse" href="#collapseAccept" class="accept-button">Accept</button>
                }
                if (ViewBag.Found == "NoRequest")
                {
                    <button type="button" data-userid="@ViewBag.User.Id" class="friend-button">Add Friend</button>
                }
            }


            <!-- Message button-->
            <button class="profile-button">Message</button>


            <!-- About button-->
            <button class="profile-button" data-bs-toggle="collapse" href="#collapseAbout">About</button>


            <!-- More button-->
            <button class="profile-button" data-bs-toggle="modal" data-bs-target="#modalMore"> More</button>
            <!-- More PopUp-->
            <div class="modal fade" id="modalMore">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Options</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <ul class="list-unstyled text-center ">
                                @{
                                    if (User.IsInRole("Admin"))
                                    {

                                        if (ViewBag.BlockedByAdmin == true)
                                        {
                                            if (ViewBag.Found == "Friend")
                                            {
                                                <li><a asp-action="#" asp-route-id="#">Cancel Follw</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="admin-unblock-button">Cancel Block</button></li>
                                            }
                                            if (ViewBag.Found == "MyRequest" || ViewBag.Found == "NoRequest")
                                            {
                                                <li><a asp-action="#" asp-route-id="#"> Follow</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="admin-unblock-button">Cancel Block</button></li>
                                            }
                                            if (ViewBag.Found == "HisRequest")
                                            {
                                                <li><a asp-action="#" asp-route-id="#"> Follow</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="admin-unblock-button">Cancel Block</button></li>
                                            }
                                            <li><a asp-action="AddReport" asp-controller="UserReport" asp-route-userId="@ViewBag.User.Id">Report</a></li>
                                        }
                                        else
                                        {
                                            if (ViewBag.Found == "Friend")
                                            {
                                                <li><a asp-action="#" asp-route-id="#">Cancel Follw</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="admin-block-button">Block</button></li>
                                            }
                                            if (ViewBag.Found == "MyRequest" || ViewBag.Found == "NoRequest")
                                            {
                                                <li><a asp-action="#" asp-route-id="#"> Follow</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="admin-block-button">Block</button></li>
                                            }
                                            if (ViewBag.Found == "HisRequest")
                                            {
                                                <li><a asp-action="#" asp-route-id="#"> Follow</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="admin-block-button">Block</button></li>
                                            }
                                            <li><a asp-action="AddReport" asp-controller="UserReport" asp-route-userId="@ViewBag.User.Id">Report</a></li>

                                        }

                                    }
                                    else
                                    {
                                        if (ViewBag.BlockedByUser == true)
                                        {
                                            if (ViewBag.Found == "Friend")
                                            {
                                                <li><a asp-action="#" asp-route-id="#">Cancel Follw</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="user-unblock-button">Cancel Block</button></li>
                                            }
                                            if (ViewBag.Found == "MyRequest" || ViewBag.Found == "NoRequest")
                                            {
                                                <li><a asp-action="#" asp-route-id="#"> Follow</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="user-unblock-button">Cancel Block</button></li>
                                            }
                                            if (ViewBag.Found == "HisRequest")
                                            {
                                                <li><a asp-action="#" asp-route-id="#"> Follow</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="user-unblock-button">Cancel Block</button></li>
                                            }
                                            <li><a asp-action="AddReport" asp-controller="UserReport" asp-route-userId="@ViewBag.User.Id">Report</a></li>

                                        }
                                        else
                                        {
                                            if (ViewBag.Found == "Friend")
                                            {
                                                <li><a asp-action="#" asp-route-id="#">Cancel Follw</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="user-block-button">Block</button></li>
                                            }
                                            if (ViewBag.Found == "MyRequest" || ViewBag.Found == "NoRequest")
                                            {
                                                <li><a asp-action="#" asp-route-id="#"> Follow</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="user-block-button">Block</button></li>
                                            }
                                            if (ViewBag.Found == "HisRequest")
                                            {
                                                <li><a asp-action="#" asp-route-id="#"> Follow</a></li>
                                                <li><button data-userid="@ViewBag.User.Id" class="user-block-button">Block</button></li>
                                            }
                                            <li><a asp-action="AddReport" asp-controller="UserReport" asp-route-userId="@ViewBag.User.Id">Report</a></li>

                                        }
                                        
                                    }
                                }
                            </ul>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- CopyUrl button-->
            <button class="profile-button" onclick="copyURLToClipboard()">Copy URL</button>

            <!-- About Collapse -->
            <div id="collapseAbout" class="collapse " data-bs-parent="#accordion2">
                <div class="card-body">
                    <hr />
                    <ul class="list-unstyled text-center setting">
                        <li><a asp-action="EditProfile" class="text-decoration-none">some information</a></li>
                        <li><a asp-action="EditProfile" class="text-decoration-none">some information</a></li>
                        <li><a asp-action="EditProfile" class="text-decoration-none">some information</a></li>
                        <li><a asp-action="EditProfile" class="text-decoration-none">some information</a></li>
                    </ul>
                </div>
            </div>


            <!-- Accept collapse -->
            <div id="collapseAccept" class="collapse " data-bs-parent="#accordion2">
                <div class="card-body">
                    <hr />
                    <ul class="list-unstyled text-center setting row" style="margin:auto;">
                        <li class="col-sm-3"></li>
                        <li class="col-sm-3"><a asp-controller="Friend" asp-action="AcceptRequestOnProfile" asp-route-userId="@ViewBag.User.Id" asp-route-accept="true" class="btn btn-outline-success">Accept</a></li>
                        <li class="col-sm-3"><a asp-controller="Friend" asp-action="AcceptRequestOnProfile" asp-route-userId="@ViewBag.User.Id" asp-route-accept="false" class="btn btn-outline-danger">Reject</a></li>
                        <li class="col-sm-3"></li>
                    </ul>
                </div>
            </div>

        </div>


        <hr class="border border-3 border-dark mb-3" />
    </div>





    @foreach (var item in Model)
    {
        <div class="container">

            <!-- Post User header-->
            <div class="container d-sm-inline-flex row">

                <!-- Header of Post  -->
                <div class="col-sm-2 text-center">
                    <a href="~/Post/ProfileSomeOne?userId=@item.UserId">
                        @if (item.User.Picture != null)
                        {
                            <img src="~/images/@item.User.Picture" class="rounded-circle img-thumbnail" width="55px;" />
                        }
                        else
                        {
                            <img src="~/images/No User Image/User_Image.jpg" class="rounded-circle img-thumbnail" width="55px;" />
                        }
                    </a>
                </div>

                <div style="text-align:left; " class="col-sm-8">
                    @item.User.UserName<br>
                    @item.PublishDate.ToString("dd-MM-yyyy  hh:mm tt")
                </div>


                <!-- List of options for post-->
                <div class="col-sm-2">

                    <div class="container mt-1">
                        <button type="button" class="btn btn-outline-primary border-0" data-bs-toggle="modal" data-bs-target="#modal_@item.Id">
                            <strong>...</strong>
                        </button>
                    </div>



                    <div class="modal fade" id="modal_@item.Id">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Options</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <ul class="list-unstyled text-center ">
                                        @if (item.UserId == userId)
                                        {
                                            <li><a asp-action="Edit" asp-controller="Post" asp-route-id="@item.Id">Edit</a></li>
                                            <li><a asp-action="Delete" asp-controller="Post" asp-route-id="@item.Id">Delete</a></li>
                                            <li><a asp-action="#" asp-route-id="@item.Id">Save Post</a></li>
                                            <li><a asp-action="#" asp-route-id="@item.Id">Copy URL</a></li>
                                        }
                                        else
                                        {
                                            <li><a asp-action="#" asp-route-id="@item.Id">Save Post</a></li>
                                            <li><a asp-action="AddReport" asp-controller="PostReport" asp-route-postId="@item.Id">Report</a></li>
                                            <li><a asp-action="#" asp-route-id="@item.Id">Hide Post</a></li>
                                            <li><a asp-action="#" asp-route-id="@item.Id">Copy url</a></li>
                                            //<li><a asp-action="#" asp-route-id="@item.Id">Turn on Notifications</a></li>
                                        }
                                    </ul>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <hr />


            <!-- Post Content-->
            @if (item.Content != null)
            {
                <div class="bg-secondary bg-opacity-25 p-3 m-1 row">
                    <div class="col-md-12 post-container">
                        @item.Content
                    </div>
                </div>
            }


            <!-- Show Image or video -->
            @if (item.Image != null)
            {
                string filePath = item.Image;

                string fileExtension = System.IO.Path.GetExtension(filePath).ToLower();

                bool isImage = false;
                bool isVideo = false;

                if (fileExtension == ".jpg" || fileExtension == ".png" || fileExtension == ".gif")
                {
                    isImage = true;
                }
                else if (fileExtension == ".mp4" || fileExtension == ".avi" || fileExtension == ".mov")
                {
                    isVideo = true;
                }

                @if (isImage)
                {
                    <div class="row p-3">
                        <img src="~/Post-Images/@Html.DisplayFor(modelItem => item.Image)" class=" img-thumbnail" />
                    </div>
                }
                else if (isVideo)
                {
                    <div class="row p-3">
                        <video src="~/Post-Images/@Html.DisplayFor(modelItem => item.Image)" class=" img-thumbnail" style="max-height:400px;" controls></video>
                    </div>
                }
            }


            <!-- Form New Comment and see all comments -->
            <div>
                <form asp-action="AddComment" asp-controller="Comment" method="post" asp-route-postId="@item.Id">
                    <div class="container">
                        <div class="row">
                            <input type="text" name="commentText" class="col-12 form-control" placeholder="Write a comment" />
                        </div>
                    </div>
                </form>
            </div>
            <br />


            <!-- Buttons under posts -->
            <div class="container">

                <a asp-action="PostLikeUsers" asp-controller="Like" asp-route-id="@item.Id" style="text-decoration:none; color:indigo;">@item.LikeCount Likes </a> - <a asp-action="ShowComments" asp-route-postId="@item.Id" style="text-decoration:none;"> @item.CommentCount Comments</a>
                <div class="row">
                    <div class="col-sm-2 row">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var userLikedCom = item.Likes != null && item.Likes.Any(l => l.UserId == userId);
                            //var userLiked = item.Likes.Any(a => a.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier));
                            if (!userLikedCom)
                            {
                                <button type="button" class="like-button col-sm-12" data-postid="@item.Id">Like</button>
                            }
                            else
                            {
                                <button type="button" class="unlike-button col-sm-12" data-postid="@item.Id">Unlike</button>
                            }
                        }
                    </div>

                    <a asp-action="Index" class="btn btn-outline-primary col-sm-2">Share</a>
                    <div class="col-sm-2"></div>

                </div>
            </div>
            <hr class="border border-3 border-dark mb-3" />
        </div>


    }
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            // Like button
            $(".like-button, .unlike-button").click(function () {
                var postId = $(this).data("postid");
                var actionUrl = $(this).hasClass("like-button") ? "/Like/LikePost" : "/Like/UnlikePost";
                var button = $(this);

                $.ajax({
                    type: "POST",
                    url: actionUrl + "?postId=" + postId,
                    success: function (data) {
                        if (data.success) {
                            // Toggle the button's class to indicate the like status
                            button.toggleClass("like-button unlike-button");

                            if (button.hasClass("like-button")) {
                                button.text("Like");

                            } else {
                                button.text("Unlike");
                            }

                        } else {
                            console.error("Something went wrong.");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error:", errorThrown);
                    }
                });
            });




            // Friend button
            $(".friend-button, .unfriend-button").click(function () {
                var userId = $(this).data("userid");
                var actionUrl = $(this).hasClass("friend-button") ? "/Friend/AddRequest" : "/Friend/CancelRequest";
                var button = $(this);

                $.ajax({
                    type: "POST",
                    url: actionUrl + "?userId=" + userId,
                    success: function (data) {
                        if (data.success) {
                            // Toggle the button's class to indicate the like status
                            button.toggleClass("friend-button unfriend-button");

                            if (button.hasClass("friend-button")) {
                                button.text("Add Friend");

                            }
                            else if (button.hasClass("accept-button")) {
                                button.text("Accept Request");
                            }
                            else {
                                button.text("Cancel Request");
                            }

                        } else {
                            console.error("Something went wrong.");
                            alert("This User blocked you , You can not send Friend request")
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error:", errorThrown);
                    }
                });
            });





            // Block By Admin
            $(".admin-block-button, .admin-unblock-button").click(function () {
                var userId = $(this).data("userid");
                var actionUrl = $(this).hasClass("admin-block-button") ? "/BlockByAdmin/CreateBlock" : "/BlockByAdmin/CancelBlock";
                var button = $(this);

                $.ajax({
                    type: "POST",
                    url: actionUrl + "?userId=" + userId,
                    success: function (data) {
                        if (data.success) {
                            // Toggle the button's class to indicate the like status
                            button.toggleClass("admin-block-button admin-unblock-button");
                            alert("Operation was successful!");

                            if (button.hasClass("admin-block-button")) {
                                button.text("Block");

                            }
                            else {
                                button.text("Cancel Block");
                            }

                        } else {
                            alert("Operation failed.");
                            console.error("Something went wrong.");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error:", errorThrown);
                    }
                });
            });




            // Block By User
            $(".user-block-button, .user-unblock-button").click(function () {
                var userId = $(this).data("userid");
                var actionUrl = $(this).hasClass("user-block-button") ? "/BlockByUser/CreateBlock" : "/BlockByUser/CancelBlock";
                var button = $(this);

                $.ajax({
                    type: "POST",
                    url: actionUrl + "?userId=" + userId,
                    success: function (data) {
                        if (data.success) {
                            // Toggle the button's class to indicate the like status
                            button.toggleClass("user-block-button user-unblock-button");
                            alert("Operation was successful!");

                            if (button.hasClass("user-block-button")) {
                                button.text("Block");

                            }
                            else {
                                button.text("Cancel Block");
                            }

                        } else {
                            alert("Operation failed.");
                            console.error("Something went wrong.");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error:", errorThrown);
                    }
                });
            });



        });
    </script>

    <!-- Show big image -->
    <script>

        var photo = document.getElementById("photo");
        var div = document.getElementById("photoModal");
        var bigPhoto = document.getElementById("bigPhoto");

        // On click open the photo
        photo.addEventListener("click", function () {
            bigPhoto.src = this.src;
            div.style.display = "block";
        });

        // Close the modal when clicking outside of the image
        div.addEventListener("click", function () {
            div.style.display = "none";
        });
    </script>

  


}