@model Forum.Models.Post
@using System.Security.Claims;
@{
    var userId = User.Claims.FirstOrDefault(a => a.Type == ClaimTypes.NameIdentifier).Value;
    var comments = Model.Comments.OrderByDescending(a => a.PublishDate);
}


@{
    ViewData["Title"] = "ShowComments";
}
<h3 class="text-center bg-black text-light p-2 m-3">All Comments</h3>

<hr />
<div class="container">


    <!-- This is the header of post-->
    <div class="container d-sm-inline-flex row">



        <!-- Picture and User name-->
        <div class="col-sm-2 text-center">
            <a href="~/Post/ProfileSomeOne?userId=@Model.UserId">
                @if (Model.User.Picture != null)
                {
                    <img src="~/images/@Model.User.Picture" class="rounded-circle img-thumbnail" width="55px;" />
                }
                else
                {
                    <img src="~/images/No User Image/User_Image.png" class="rounded-circle img-thumbnail" width="55px;" />
                }
            </a>
        </div>

        <div style="text-align:left; " class="col-sm-8">
            @Model.User.UserName<br>
            @Model.PublishDate.ToString("dd-MM-yyyy  hh:mm tt")

        </div>








        <!-- List of options for post-->
        <div class="col-sm-2">

            <div class="container mt-1">
                <button type="button" class="btn btn-outline-primary border-0" data-bs-toggle="modal" data-bs-target="#modal_@Model.Id">
                    <strong>...</strong>
                </button>
            </div>



            <div class="modal fade" id="modal_@Model.Id">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Options</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <ul class="list-unstyled text-center ">
                                @if (Model.UserId == userId)
                                {
                                    <li><a asp-action="Edit" asp-controller="Post" asp-route-id="@Model.Id">Edit</a></li>
                                    <li><a asp-action="Delete" asp-controller="Post" asp-route-id="@Model.Id">Delete</a></li>
                                }

                                @if (ViewBag.SavedPost == true)
                                {
                                    <li><button data-postid="@Model.Id" class="unsave-post-button">Un Save Post</button></li>
                                }
                                else
                                {
                                    <li><button data-postid="@Model.Id" class="save-post-button">Save Post</button></li>
                                }
                                <li><a onclick="copyURLToClipboard()" href="#">Copy URL</a></li>
                                <li><a asp-action="AddReport" asp-controller="PostReport" asp-route-postId="@Model.Id">Report</a></li>
                            </ul>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
    <hr />


    <!-- This is the body of post-->
    @if (Model.Content != null)
    {
        <div class="bg-secondary bg-opacity-25 p-3 m-1 row">
            <div class="col-md-12 post-container">
                @Model.Content
            </div>
        </div>
    }




    <!-- Show Image or video -->
    @if (Model.Image != null)
    {
        string filePath = Model.Image;

        string fileExtension = System.IO.Path.GetExtension(filePath).ToLower();

        bool isImage = false;
        bool isVideo = false;

        if (fileExtension == ".jpg" || fileExtension == ".png" || fileExtension == ".gif")
        {
            isImage = true;
        }
        else if (fileExtension == ".mp4" || fileExtension == ".avi" || fileExtension == ".mov")
        {
            isVideo = true;
        }

        @if (isImage)
        {
            <div class="row p-3">
                <img src="~/Post-Images/@Html.DisplayFor(modelItem => Model.Image)" class=" img-thumbnail" />
            </div>
        }
        else if (isVideo)
        {
            <div class="row p-3">
                <video src="~/Post-Images/@Html.DisplayFor(modelItem => Model.Image)" class=" img-thumbnail" style="max-height:400px;" controls></video>
            </div>
        }
    }




    <!-- This is the Comment form -->
    <div>
        <form asp-action="AddComment" asp-controller="Comment" method="post" data-postId="@Model.Id" asp-route-postId="@Model.Id" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <input type="text" name="commentText" class="col-12 form-control" placeholder="Write a comment" />
                </div>
            </div>
        </form>
    </div>
    <br />







    <!-- This is buttons of Like And Share -->
    <div class="container">

        <a asp-action="PostLikeUsers" asp-controller="Like" asp-route-id="@Model.Id" style="text-decoration:none; color:indigo;">@Model.LikeCount Likes </a>  - <a asp-action="ShowComments" asp-route-postId="@Model.Id" style="text-decoration:none;"> @Model.CommentCount Comments</a>

        <div class="row">
            <div class="col-sm-2 row">

                @if (User.Identity.IsAuthenticated)
                {
                    var userPostLiked = Model.Likes != null && Model.Likes.Any(l => l.UserId == userId);
                    //var userLiked = item.Likes.Any(a => a.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier));
                    if (!userPostLiked)
                    {
                        <button type="button" class="like-post col-sm-12" data-postid="@Model.Id">Like</button>
                    }
                    else
                    {
                        <button type="button" class="unlike-post col-sm-12" data-postid="@Model.Id">Unlike</button>
                    }
                }
            </div>
            <a asp-action="Index" class="btn btn-outline-primary col-sm-2">Share</a>
            <div class="col-sm-8">
            </div>

        </div>
    </div>


    <hr class="border border-3 border-dark mb-3" />







    <!-- This is All Comment of the post -->
    <div class="container">

        @foreach (var item in comments)
        {
            <div class="row">
                <div class="col-sm-2 text-center">
                    <a href="~/Post/ProfileSomeOne?userId=@item.UserId">
                        @if (item.User.Picture != null)
                        {
                            <img src="~/images/@item.User.Picture" class="rounded-circle img-thumbnail" style="width:50px;" />
                        }
                        else
                        {
                            <img src="~/images/No User Image/User_Image.jpg" class="rounded-circle img-thumbnail" style="width:50px;" />
                        }
                    </a>
                </div>
                <div class="bg-info bg-opacity-25 text-black p-3 mt-1 mb-1 col-sm-10 ">
                    <div class="row justify-content-between">


                        <h5 class="col-sm-4">@item.User.UserName</h5>



                        <!-- List of options for post-->
                        <div class="col-sm-4">

                            <div class="container mt-1">
                                <button type="button" class="btn btn-outline-primary border-0" data-bs-toggle="modal" data-bs-target="#comment_@item.Id">
                                    <strong>...</strong>
                                </button>
                            </div>



                            <div class="modal fade" id="comment_@item.Id">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Options</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <ul class="list-unstyled text-center ">
                                                @if (item.UserId == userId)
                                                {
                                                    <li><a asp-action="Edit" asp-controller="Comment" asp-route-id="@item.Id">Edit</a></li>
                                                    <li><a asp-action="Delete" asp-controller="Comment" asp-route-id="@item.Id">Delete</a></li>
                                                }
                                                else
                                                {
                                                    <li><a asp-action="#" asp-controller="#" asp-route-commentId="@item.Id" class="btn btn-outline-primary">Report</a></li>
                                                }
                                            </ul>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>


                    @item.Content
                    <hr />
                    <div class="container">
                        <form class="row" asp-action="AddReply" asp-controller="ReplyToComment" asp-route-commentId="@item.Id" asp-route-userName="@item.User.UserName">
                            <input type="text" class="col-12 form-control" name="content" placeholder="Write a reply" />
                        </form>
                    </div>
                </div>
            </div>







            <div>
                <!-- This is buttons of Like And Share -->
                <div class="container">

                    @*<a asp-action="#" asp-route-postId="@item.Id" style="text-decoration:none; color:indigo; margin-left:85px;">@item.LikeCount Likes </a> - <a asp-action="ShowComments" asp-route-postId="@item.Id" style="text-decoration:none;"> @item.CommentCount Reply</a>*@
                    <a asp-action="CommentLikeUsers" asp-controller="Like" asp-route-id="@item.Id" style="text-decoration:none; color:indigo; margin-left:85px;">@item.LikeCount Likes </a> - <span> @item.CommentCount Reply</span>
                    <div class="row">

                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-2 row">

                            @if (User.Identity.IsAuthenticated)
                            {
                                var userCommentLiked = item.Likes != null && item.Likes.Any(l => l.UserId == userId);
                                //var userLiked = item.Likes.Any(a => a.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier));
                                if (!userCommentLiked)
                                {
                                    <button type="button" class="like-comment col-sm-12" data-commentid="@item.Id">Like</button>
                                }
                                else
                                {
                                    <button type="button" class="unlike-comment col-sm-12" data-commentid="@item.Id">Unlike</button>
                                }
                            }
                        </div>


                        <div class="col-sm-4">
                            <small>
                                @item.PublishDate.ToString("dd-MM-yyyy  hh:mm tt")
                            </small>
                        </div>


                        <div class="replies-button col-sm-2 p-0 m-0 " data-comment-id="@item.Id" style="border:none; background-color:white; cursor:pointer"><small class="text-primary">Show </small><small class="text-danger">@item.CommentCount</small> <small class="text-primary"> Reply</small> </div>


                    </div>
                </div>
            </div>
            <hr />





            <div class="reply-section" id="@item.Id-Replies" style="display:none;">
                @foreach (var reply in item.ReplyToComments)
                {


                    <!-- Reply Session -->
                    <div class="bg-light " style="margin-left:80px;">
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <a href="~/Post/ProfileSomeOne?userId=@reply.UserId">
                                    @if (reply.User.Picture != null)
                                    {
                                        <img src="~/images/@reply.User.Picture" class="rounded-circle img-thumbnail" style="width:50px;" />
                                    }
                                    else
                                    {
                                        <img src="~/images/No User Image/User_Image.png" class="rounded-circle img-thumbnail" style="width:50px;" />
                                    }
                                </a>
                            </div>
                            <div class="bg-info bg-opacity-25 text-black p-3 mt-1 mb-1 col-sm-10 ">
                                <div class="row justify-content-between">


                                    <h5 class="col-sm-4">@reply.User.UserName</h5>


                                    <!-- List of options for post-->
                                    <div class="col-sm-4">

                                        <div class="container mt-1">
                                            <button type="button" class="btn btn-outline-primary border-0" data-bs-toggle="modal" data-bs-target="#reply_@reply.Id">
                                                <strong>...</strong>
                                            </button>
                                        </div>



                                        <div class="modal fade" id="reply_@reply.Id">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Options</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <ul class="list-unstyled text-center ">
                                                            @if (reply.UserId == userId)
                                                            {
                                                                <li><a asp-action="DeleteReply" asp-controller="ReplytoComment" asp-route-replyId="@reply.Id" asp-route-commentId="@item.Id" class="btn btn-outline-primary">Delete</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a asp-action="#" asp-controller="#" asp-route-commentId="@reply.Id" class="btn btn-outline-primary">Report</a></li>
                                                            }
                                                        </ul>
                                                    </div>

                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                </div>
                                @* <span> Replied to <span class="text-primary">@reply.Comment.User.UserName </span> : </span>*@

                                <span class="text-primary">@reply.ReplyUserName</span> @reply.Content

                                <hr />
                                <div class="container">
                                    <form class="row" asp-action="AddReply" asp-controller="ReplyToComment" asp-route-commentId="@item.Id" asp-route-userName="@reply.User.UserName">
                                        <input type="text" class="col-12 form-control" name="content" placeholder="Write a reply" />
                                    </form>
                                </div>
                            </div>

                        </div>

                        <!-- This is buttons of Like And Share -->
                        <div class="container">
                            @*<a asp-action="#" asp-route-postId="@reply.Id" style="text-decoration:none; color:indigo; margin-left:80px;">@reply.LikeCount Likes </a>*@

                            <a asp-action="ReplyLikeUsers" asp-controller="Like" asp-route-id="@reply.Id" style="text-decoration:none; color:indigo; margin-left:80px;">@reply.LikeCount Likes </a>
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-2 row">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        var userReplyLiked = reply.Likes != null && reply.Likes.Any(l => l.UserId == userId);
                                        //var userLiked = item.Likes.Any(a => a.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier));
                                        if (!userReplyLiked)
                                        {
                                            <button type="button" class="like-reply col-sm-12" data-replyid="@reply.Id">Like</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="unlike-reply col-sm-12" data-replyid="@reply.Id">Unlike</button>
                                        }
                                    }
                                </div>


                                <div class="col-sm-4">
                                    <small>
                                        @reply.PublishDate.ToString("dd-MM-yyyy  hh:mm tt")
                                    </small>
                                </div>
                                <div class="col-sm-2">
                                </div>

                            </div>
                        </div>
                    </div>

                    <br />






                }
                <hr />
            </div>





        }
    </div>

</div>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        // Get all "Replies" buttons
        var replyButtons = document.querySelectorAll('.replies-button');

        // Add click event handlers for each "Replies" button
        replyButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var commentId = button.getAttribute('data-comment-id');
                var replySection = document.getElementById(commentId + '-Replies');

                // Toggle the visibility of the Reply Section for the clicked comment
                if (replySection.style.display === 'none') {
                    replySection.style.display = 'block';
                } else {
                    replySection.style.display = 'none';
                }
            });
        });
    </script>


    <script>


        $(document).ready(function () {


            // Like post button
            $(".like-post, .unlike-post").click(function () {
                var postId = $(this).data("postid");
                var actionUrl = $(this).hasClass("like-post") ? "/Like/LikePost" : "/Like/UnlikePost";
                var button = $(this);

                $.ajax({
                    type: "POST",
                    url: actionUrl + "?postId=" + postId,
                    success: function (data) {
                        if (data.success) {
                            console.log("Like Post");
                            // Toggle the button's class to indicate the like status
                            button.toggleClass("like-post unlike-post");
                            location.reload();
                            if (button.hasClass("like-post")) {
                                button.text("Like");
                            } else {
                                button.text("Unlike");
                            }

                        } else {
                            console.error("Something went wrong.");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error:", errorThrown);
                    }
                });


            });





            // Like comment button
            $(".like-comment, .unlike-comment").click(function () {
                var commentId = $(this).data("commentid");
                var actionUrl = $(this).hasClass("like-comment") ? "/Like/LikeComment" : "/Like/UnlikeComment";
                var button = $(this);

                $.ajax({
                    type: "POST",
                    url: actionUrl + "?commentId=" + commentId,
                    success: function (data) {
                        if (data.success) {
                            console.log("Like Comment");
                            // Toggle the button's class to indicate the like status
                            button.toggleClass("like-comment unlike-comment");
                            location.reload();
                            if (button.hasClass("like-comment")) {
                                button.text("Like");
                            } else {
                                button.text("Unlike");
                            }

                        } else {
                            console.error("Something went wrong.");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error:", errorThrown);
                    }
                });


            });






            // Like reply to Comment button
            $(".like-reply, .unlike-reply").click(function () {
                var replyId = $(this).data("replyid");
                var actionUrl = $(this).hasClass("like-reply") ? "/Like/LikeReplyToComment" : "/Like/UnLikeReplyToComment";
                var button = $(this);

                $.ajax({
                    type: "POST",
                    url: actionUrl + "?replyId=" + replyId,
                    success: function (data) {
                        console.log("Like Reply To Comment");
                        if (data.success) {
                            // Toggle the button's class to indicate the like status
                            button.toggleClass("like-reply unlike-reply");

                            if (button.hasClass("like-reply")) {
                                button.text("Like");

                            } else {
                                button.text("Unlike");
                            }

                        } else {
                            console.error("Something went wrong.");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error:", errorThrown);
                    }
                });
            });




            // Save Post Button
            $(".save-post-button, .unsave-post-button").click(function () {
                var postId = $(this).data("postid");
                var actionUrl = $(this).hasClass("save-post-button") ? "/SavePost/SavePost" : "/SavePost/CancelSave";
                var button = $(this);

                $.ajax({
                    type: "POST",
                    url: actionUrl + "?postId=" + postId,
                    success: function (data) {
                        if (data.success) {
                            // Toggle the button's class to indicate the like status
                            button.toggleClass("save-post-button unsave-post-button");
                            alert("Operation was successful!");
                            location.reload();
                            if (button.hasClass("save-post-button")) {
                                button.text("Save Post");

                            }
                            else {
                                button.text("Un Save Post");
                            }

                        } else {
                            alert("Operation failed.");
                            console.error("Something went wrong.");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error:", errorThrown);
                    }
                });
            });



        });


    </script>

        }   